<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{caption}}</h1>
        <p>It's not a real website</p>
    </body>
</html>

